.about{
    background-color: black;
    color: white;
}

.data{
    background-color: lightblue;
    border-radius: 10px 20px;
    padding: 20px;
    margin: 20px;
}
.facts{
    background-color: green;
    color: white;
}

.contact{
    background-color: grey;
    color: white;
}
.join{
    background-color: lightcoral;
    color: white;
}

.team{
    background-color: gray;
}
